body {
  margin: 0px;
}

canvas {
  background-image: url(https://static.vecteezy.com/system/resources/previews/050/498/533/non_2x/hand-painted-sky-illustration-blue-sky-and-colorful-cloud-background-free-vector.jpg);
  margin: 20px;
}

img {
  display: none;
}
